
form{
  padding: 2rem;
  margin: 0 auto;
  text-align: left;
  font-family: Times New Roman;
  font-size: 16px;
}

body{
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #123;
  color:#fff;
}
h1, p {
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Tahoma;
  font-size: 18px 12px;
}

label {
  display: block;
  margin: 0 auto;
  padding: 0.50rem;
  width: 80%;
}

.features{
  width: unset;
  display: inline;
  margin: 0 0 0 60;
  padding: 0.05rem;
  text-align: center;
}

.dropdown {
  width: 80%;
  padding: 0.05rem;
}

input[type="text"]{
  width: unset;
  width: 70%;
}

input[type="number"]{
  width: unset;
  width: 70%;
}
input[type="email"]{
  width: unset;
  width: 70%;
}

textarea{
  display: block;
  margin: 0.75rem 0;
  width: 80%;
  background-color: f8f8f8;
  text-align: left;
  color: #fff;
  font-size: 16px;
}

